@font-face{
	font-family: 'opensans';
	src: url('font/OpenSans-Regular-webfont.woff');
}

html, body, .container {
	margin: 0;
	height: 100%;
}

.container {
	font-family: opensans;
}

.block {
	height: 50%;
	color: #ffffff;
	text-align: center;
	position: relative;
}

.spacer {
	height: 10%;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('overlay.png');
}


header {
	background-image: url("peakview.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (min-width: 769px) {
	header {
		background-size: 100%;
	}
	#head {
		padding: 10%;
	}
	.text {
		padding: 10% 20% 0;
	}
}

@media screen and (max-width: 768px) {
	header {
		background-size: auto 540px;
	}
	#head {
		padding: 20%;
	}
}

@media screen and (max-width: 481px) {
	header {
		background-size: auto 380px;
	}
	#head {
		padding: 25%;
	}
	.text {
		padding: 10% 5% 0;
	}
}

main {
/*border: 1px solid #7aba7a;*/
background: #549454;
background: -moz-linear-gradient(top, #549454 0%, #7aba7a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #549454), color-stop(100%, #7aba7a));
background: -webkit-linear-gradient(top, #549454 0%, #7aba7a 100%);
background: -o-linear-gradient(top, #549454 0%, #7aba7a 100%);
background: -ms-linear-gradient(top, #549454 0%, #7aba7a 100%);
background: linear-gradient(to bottom, #549454 0%, #7aba7a 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#549454', endColorstr='#7aba7a', GradientType=0);

}

footer {
/*border: 1px solid #b76eb8;*/
background: #aa61ab;
background: -moz-linear-gradient(top, #aa61ab 0%, #b76eb8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aa61ab), color-stop(100%, #b76eb8));
background: -webkit-linear-gradient(top, #aa61ab 0%, #b76eb8 100%);
background: -o-linear-gradient(top, #aa61ab 0%, #b76eb8 100%);
background: -ms-linear-gradient(top, #aa61ab 0%, #b76eb8 100%);
background: linear-gradient(to bottom, #aa61ab 0%, #b76eb8 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa61ab', endColorstr='#b76eb8', GradientType=0);
}

#footer2 {
	background: #41528f;
background: -moz-linear-gradient(top, #41528f 0%, #7485c2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #41528f), color-stop(100%, #7485c2));
background: -webkit-linear-gradient(top, #41528f 0%, #7485c2 100%);
background: -o-linear-gradient(top, #41528f 0%, #7485c2 100%);
background: -ms-linear-gradient(top, #41528f 0%, #7485c2 100%);
background: linear-gradient(to bottom, #41528f 0%, #7485c2 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41528f', endColorstr='#7485c2', GradientType=0);
}